body {
  margin: 0;
  font-size: 20px;
  font-family: "Helvetica","Arial",sans-serif;
}

.content pre {
  background-color: #f4dcbc;
  padding: 1.4rem;
  overflow: auto;
}

.content pre code {
  opacity: 0.7;
}

.content h1 {
  font-size: 2.5rem;
  color: #db3c30;
}

.content h2 {
  color: #db3c30;
}

.content img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width: 600px;
  padding: 2rem;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #f5554a;
}

section:last-child hr {
  display: none;
}

header {
  box-shadow: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
  color: #424242;
  background-color: #f5f5f5;
}

.title {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.header-layout {
  padding-left: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self:stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 40px 0 80px;
}

main {
  margin-top: -35vh;
  background-color: #fff;
  box-sizing: border-box;
  max-width: 800px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

a.link-btn {
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  min-width: 64px;
  padding: 8px 16px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #db3c30;
}

.drawer-btn {
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 56px;
  font-family: Helvetica,Arial,sans-serif;
  margin: 8px 12px;
  top: 0;
  left: 0;
  color: #000;
  z-index: 4;
}

.layout-drawer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  color: #424242;
  overflow: visible;
  overflow-y: visible;
  overflow-y: auto;
  z-index: 5;
}

.layout-drawer > .title {
  line-height: 64px;
  padding-left: 40px;
}

.layout-drawer nav {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 16px;

  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.layout-drawer.is-visible {
  transform: translateX(0); 
}

a.nav-item {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px 36px;
  margin: 0;

  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;

  background-color: #f5554a;
  color: #ffffff;
}

a.nav-item.link {
  background-color: transparent;
  color: #757575;
  opacity: .87;
}

a.link-btn:hover { background-color: rgba(158,158,158, 0.20); }

footer { padding-top: 16px }

a.nav-item.link:hover { background-color: rgba(158,158,158, 0.20); }

@media only screen and (max-width: 820px) {
  body {
    font-size: 16px;
  }

  main {
    width: 100%;
    max-width: 100%;
    padding: 20px 28px;
    box-shadow: unset;
  }

  .content img {
    max-width: 360px;
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 440px) {
  .content img {
    max-width: 280px;
    padding: 1rem;
  }

  .title {
    font-size: 1.2rem;
  }
}

